body {
    color: rgb(9, 9, 9);
    background-color: lightsteelblue;

    font-size: 1.25em
}

h2 {
    background-color: rgb(255, 254, 254);
    color: rgb(2, 8, 0);
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: rgb(4, 1, 0);
    font-size: large;
}

a:link {
    color: rgb(14, 38, 250);
}

a:hover {
    color: black;
}

p strong {
    color: black
}

div#favoriteteams {
    width: 100%;
    text-align: center;
    border: 2px dotted black;
    background-color: aliceblue;


}

div.favorite {
    width: 30%;
    margin-right: 75px;
    background-color: ghostwhite;
     text-align: center;
}

div#favorite {
    display: flex;
    top: 10em;
    width: 70%;
    justify-content: space-around;
    position: fixed;
    right: 0%;
    top: 0%;
    bottom:;
    background-color: coral;
   
}

a:hover div#favorite {
    color: blue;
}

div#mylinks {
    text-align: center;
    border: 2px dotted rebeccapurple;
    width: fit-content;
    background-color: coral;
}

div.mylinks {
    width: 20%;
    margin-bottom: 70px;
}

div#mylinks {
    display: flex;
   top: 30em; 
   flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    justify-content: space-between;
    
}

div#duke {
    position: fixed;
    top: 12em;
    text-align: center;
}
img#dukeimage {
    width: 50%;
    float: inline-end;
}

ol li {
    margin-bottom: 0.5em;
}