body {
    color: rgb(9, 9, 9);
    background-color: lightsteelblue;

    font-size: 1.25em;
}

h2 {
    background-color: rgb(255, 254, 254);
    color: rgb(2, 8, 0);
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: rgb(4, 1, 0);
    font-size: large;
}

a:link {
    color: rgb(14, 38, 250);
}

a:hover {
    color: black;
}

p strong {
    color: black;
}



div.favorite {
    width: 30%;
    margin-right: 75px;
    background-color: ghostwhite;
     text-align: center;
    
}

div#favorite {
    display: flex;
    top: 8em;
    width: 70%;
    justify-content:center;
    position: fixed;
    right: 0%;

}

a:hover div#favorite {
    color: blue;
}







div#mylinks {
    text-align: center;
    border: 2px dotted rebeccapurple;
    width: fit-content;
    background-color: coral;
}

div.mylinks {
    width: 20%;
    margin-bottom: 70px;
}

div#mylinks {
    display: flex;
   top: 30em; 
   flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    justify-content: space-between;
    
}

div#duke {
    position: fixed;
    top: 12em;
    text-align: center;
}
img#dukeimage {
    width: 50%;
    float: inline-end;
}

ol li {
    margin-bottom: 1.25em;
}

div.nav {
    width: 30%;
    text-align: center;
}

div#navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px dotted brown;
    position: fixed;
    top:0;
    height: 1.25em;
}

div.nav div.dropdownitem a{
    display: none;
    text-decoration: none;
    color: green;
    padding: 4px 4px;
    text-align: left;
    position: relative;
    left: 25%;
    box-shadow: 1px 1px gray;
    width: 60%;
}
div.nav:hover div.dropdownitem a{
    display: block;
}

@media (max-width : 750px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
h2 {
    width: 60%;
    font-size: 115%;
}
}
@media (min-width: 750px) {
    ol li.float {
        float: left;
        width: 30px;
        background-color: aqua;
        margin-right: 2em;
    }
}
@media screen and (orientation: landscape) {
    body[
        margin-top: ::backdrop; 
    ]
   
} 

@media screen and (orientation:portrait) {
    body {
    border: rgb(14, 38, 250); 
    }
    
}

@media (min-width: 389) and (max-width: 391) and
(min-height: 843) and (max-height: 845) {
    body{
        display: none;
    }
}