body{
    color: rgb(9, 9, 9);
    background-color: lightsteelblue;
    scrollbar: width 10px; 

        font-size:1.25em
}
h2{
    background-color: rgb(255, 254, 254);
    color: rgb(2, 8, 0);
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: rgb(4, 1, 0);
    font-size: large;
}
a:link {
    color: rgb(14, 38, 250);
}
a:hover{
    color: black;
}

p strong{
    color:black
}
<p class="intro">
tag.class
p.intro {  
    font-style: italic; 
 }
ol li{
    margin-bottom: 0.2em;
    border-top-style: groove;
}
<float><img id="DSC00817">
image

div.nav{
    font-size: 1.25em;
    text-algin:center;
    background-color: blue;


